<main>
    <div class="container mx-auto pt-5">
        <div className="mb-3">
            <h2 className="text-3xl font-bold tracking-tight">Log de errores</h2>
            <p className="text-muted-foreground mt-2">
                Listado de todos los errores registrados en la aplicación de más nuevo a más antiguo
            </p>
        </div>

        <search-component placeholder="Tipo de error..." (searchChange)="onSearchChange($event)" />

        @if (errorLogStore.isLoading()) {
        <!-- Aquí sería más correcto poner un skeleton -->
        <p>Loading errors...</p>
        } @else {
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4 items-start">
            @for (error of errorLogStore.errorLogs(); track error.id) {
            <app-error-card [errorLog]="error" />
            }
        </div>
        }

    </div>
</main>